#!/bin/sh

REPOSITORY={{ item.backup_server }}:{{ item.backup_repository }}
{% if (item.encryption is defined and item.encryption == 'keyfile') %}
export BORG_PASSPHRASE="{{ item.passphrase }}"
{% endif %}

export BORG_RSH="ssh -o IdentityFile={{ borgbackup_ssh_key_path }}"

{{ borgbackup_executable_path | default('borg') }} create {{ item.borg_options|default(borgbackup_create_default_options) }} --stats \
    $REPOSITORY::{{ item.backup_prefix | default(ansible_hostname) }}-{{ item.backup_name | default('`date +%Y-%m-%d`') }} \
    {{ item.excludes|d([]) | length | ternary('-e', '') }} {{ item.excludes|d([]) | map('quote') | join (' -e ') }} \
    {{ item.directories | join(' ') }}

